@mixin fs-calendar-theme() {
  .fs-calendar-helper .fs-calendar-month {
    background-color: var(--mdc-outlined-card-container-color, var(--mat-sys-surface));
    border-radius: var(--mdc-outlined-card-container-shape, var(--mat-sys-corner-medium));
    border-width: var(--mdc-outlined-card-outline-width, 1px);
    border-color: var(--mdc-outlined-card-outline-color, var(--mat-sys-outline-variant));
    box-shadow: var(--mdc-outlined-card-container-elevation, var(--mat-sys-level0));
    border-style: solid;
  }

  .fs-calendar-body-today {
    border: 1px solid var(--mat-sys-outline-variant);
  }
  /* 
  .fs-calendar-switches svg {
    fill: map.get($foreground, 'base');
  } */

  .placeholder-day {
    color: var(--mat-sys-on-surface-variant);
  }

  .fs-calendar-panels-table-header tr:first-child {
    border-bottom: solid 1px var(--mat-sys-outline-variant);
    // color: map.get($foreground, 'secondary-text');
  }

  .kw {
    border-right: solid 1px var(--mat-sys-outline-variant);
    color: var(--mat-sys-on-surface-variant);
  }

  .clickable:hover {
    background: var(--mat-sys-surface-container-highest);
    color: var(--mat-sys-on-surface);
  }

  .weekend {
    background: var(--mat-sys-surface-container-low) !important;
  }

  .date-between::after,
  .selected-start::after,
  .selected-end::after {
    border-top: dashed 1px var(--mat-sys-outline-variant);
    border-bottom: dashed 1px var(--mat-sys-outline-variant);
  }

  .selected-set.date-between {
    color: var(--mat-sys-on-secondary-container);
  }

  .selected-set.date-between::after,
  .selected-set.selected-start::after,
  .selected-set.selected-end::after {
    background: var(--mat-sys-secondary-container);
  }

  .selected-set.selected-start,
  .selected-set.selected-end {
    color: var(--mat-sys-on-secondary-container);
  }

  .selected-start::before,
  .selected-end::before {
    background: var(--mat-sys-secondary-container-);
  }

  .blured-days::after {
    content: '';
    /* background: radial-gradient(
      circle at center,
      map.get($background, 'background') 0,
      map.get($background, 'background') 12px,
      transparent 14px,
      transparent 100%
    ); */
  }

  .fs-calendar-panels-table table thead tr th {
    border-bottom: solid 1px var(--mat-sys-outline-variant);
  }

  // not used in material 3
  /* .fs-calendar-table,
  .fs-calendar-month {
    // background-color: map.get($background, 'card');
  } */

  .fs-calendar-table .box-base {
    background-color: var(--mat-sys-surface-container-highest);
  }

  .fs-calendar-table .date-today {
    color: var(--mat-button-tonal-label-text-color, var(--mat-sys-on-secondary-container));
    background: var(--mat-button-tonal-container-color, var(--mat-sys-secondary-container));
    border-radius: 4px;
  }
}
