<div class="fs-nav-frame-logo" [class.opened]="!isClosed()">
  <div class="logo-wrapper">
    <button mat-icon-button (click)="toggleSidemenu()" aria-label="Toggle navigation menu" title="Toggle menu">
      @if (navFrameConfig().logoSrc !== '' && navFrameConfig().logoSrc !== undefined) {
        <div
          class="logo-picture"
          [style.background-image]="'url(' + navFrameConfig().logoSrc + ')'"></div>
      }
      @if (navFrameConfig().logoSrc === '' || navFrameConfig().logoSrc === undefined) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M4 12h16" />
          <path d="M4 18h16" />
          <path d="M4 6h16" />
        </svg>
      }
    </button>
  </div>
  <div class="app-info-wrapper" [class.opened]="!isClosed()">
    @if (!isClosed()) {
      <span class="app-name">{{ navFrameConfig().appName }}</span>
      @if (navFrameConfig().appVersion) {
        <span class="app-version">{{ navFrameConfig().appVersion }}</span>
      }
    }
  </div>
</div>

<ng-content select="fs-nav-frame-toolbar"></ng-content>

<div class="sidebar" [class.opened]="!isClosed()" (click)="closeSidebar()">
  <!-- Navigation -->
  <ng-content select="fs-nav-frame-sidebar" [class.opened]="!isClosed()"></ng-content>

  <!-- User Profile -->
  <ng-content select="fs-nav-user-profile" [class.opened]="!isClosed()"></ng-content>
</div>

<div class="glassplane" [class.opened]="!isClosed()" (click)="closeSidebar()"></div>
<ng-content select="fs-nav-frame-content" [class.opened]="!isClosed()"></ng-content>
